* {
  border: 0;
  padding: 0;
}


:root {
  --background-default: #F5F4F0;
  --border-primary: #D9D9D9;

  --text-primary: #1B1B1B;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #E1624F;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;

  --font: "Alice", serif;
  --font-family: "Open Sans", sans-serif;
  --text-h1: bold 36px var(--font-family);
  --text-h2: bold 32px var(--font-family);
  --text-h3: bold 28px var(--font-family);
  --text-hd: bold 16px var(--font-family);
  --text-pg: 16px var(--font-family);
  --text-ft: 16px var(--font);
  --text-sub: italic 16px var(--font-family);

}

body {
  margin: 110px 80px 109px;
  background-color: var(--background-default);
}

